@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css');

@font-face{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/Poppins-Regular.ttf) format('truetype');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

.app{
  overflow-x: hidden;
  overflow-y: scroll;
}

*{
  font-family: 'Poppins', sans-serif;
  color:#fff;
  background-color: #333;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  max-height: max-content;
}

/* Navbar styles */
.navbar{
  color: rgb(25, 175, 180);
  background-color: rgb(25, 175, 180);
  position: sticky;
  top: 0px;
  z-index: 1;
}

.container{
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 4px 10px 4px;
  /* top right bottom left */
  position: relative;
  flex-direction: row;
  padding-left:50px;
  color: rgb(25, 175, 180);
  background-color: rgb(25, 175, 180);
  width:100%;
  max-width: 100%;
  align-items: center;
}

.initials{
  background-color: rgb(25, 175, 180);
  color:#000;
  font-size:45px;
}

.navbar-text{
  color: #000;
  min-height: 50px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
  padding: 10px;
  border-right: 5px;
  background-color: rgb(25, 175, 180);
}

.navbar-text:hover{
  background-color: rgb(22, 144, 148);
}

.about-h1{
  color:rgb(216, 212, 212);
  font-size: x-large;
}

.mobile-menu{
  background-color: rgb(25, 175, 180);
  display:none;
}

.menu-icon{
  display: none;
}

/* Home Styles */
.home{
  height:100%;
}

.intro{
  height: 100vh;
  min-height: -webkit-fill-available;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  margin-right: 0px;
  align-items: center;
  margin-left: 100px;
  margin-right: 200px;
}

.intro-text{
  font-size: 50px;
}

.Profile{
  height: 60vh;
  min-height: -webkit-fill-available;
  min-height: 60vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  color:rgb(25, 175, 180);
  flex-wrap: wrap;
}

.profile-text{
  margin-left: 60px;
  margin-right: 60px;
}

.skillset-icons{
  height: 80vh;
  min-height: -webkit-fill-available;
  min-height: 80vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  color:rgb(25, 175, 180);
  flex-wrap: wrap;
}

.social-icons{
  height: 70vh;
  min-height: -webkit-fill-available;
  min-height: 70vh;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
}

/* Footer styles */
.footer{
  display:flex;
  justify-content: center;
  align-content: flex-end;
  background-color: rgb(25, 175, 180);
  color:#000;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* Project styles */
.project{
  height: 100vh;
  min-height: 100vh;
  max-height: max-content;
}

.web-code{
  margin-top: 50px;
  width:100%;
  display: flex;
  justify-content: space-around;
  align-content:flex-end;
  position: relative;
}

.web-code-text:hover{
  background-color:rgb(36, 34, 34);
  cursor: pointer; 
}

/* Resume styles */
.resume{
  height: 100%;
}

.dl{
  width:168px;
  display: flex;
  justify-content: flex-start;
  align-content:flex-end;
  position: relative;
}

.dl:hover{
  background-color:rgb(36, 34, 34);
  cursor: pointer; 
}

/* about styles */
.aboutOne{
  height: 100%;
}
.aboutTwo{
  height: 100vh;
}

/* Mobile */
@media screen and (max-width:480px){

  .home{
    height: 100%;
  }

  .intro{
    margin: 0;
  }
  
  .intro h1{
    font-size: 40px;
  }

  .image{
    display: none;
  }

  .nav-options {
    display: flex;
    width: 100%;
    min-height: -webkit-fill-available;
    min-height:100px;
    height:100px;
    position: absolute;
    top: -200%;
    right: 0%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
  }

  .menu-icon{
    background-color: rgb(25, 175, 180);
    color:#000;
    display: block;
    height:25px;
    width:25px;
  }

  .nav-options.active {
    min-height: -webkit-fill-available;
    min-height:100px;
    height:100px;
    top: 80px;
    right: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
  }
  .intro-text{
    margin:50px;
  }

  .skills-text{
    margin:50px;
  }

  .socials-text{
    margin:50px;
  }

  .projectTitle{
    margin: 50px;
  } 

  .project{
    margin: 50px;
  }

  .resumeTitle{
    margin: 50px;
  }

  .dl{
    margin: 50px;
  }

  .resume{
    margin: 50px;
  }

  .aboutTitle{
    margin: 50px;
  }
  .aboutOne{
    margin: 50px;
  }
  .about{
    margin: 50px;
  }
}
.mobile-menu{
  display: block;
  
}
